.counter-card {
  border: 1px solid #e0d3c2;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  background-color:rgba(249, 244, 239, 0.9);
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.counter-card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #4B3832;
}

.counter-card button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background-color: #4B3832;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.counter-card button:hover {
  background-color: #DDB67D;
  color: #2A2A2A;
}
.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.app {
  background-color: #F9F4EF;
  min-height: 100vh;
  padding: 20px;
}
